### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.code-workspace

### Mac OS ###
.DS_Store
buffer_after_buffer_save.png
buffer_before_boundary_draw.png
img_to_buffer_before_buffer_save.png
layer_before_boundary_draw.png
layer_before_buffer_save.png
